<header>
  <app-main-menu></app-main-menu>
</header>

<div class="container mt-5">
  <div class="row m-1">
    <div class="col-3">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
      <main>
        <!-- <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/download1.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> -->
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
