<!--The content below is only a placeholder and can be replaced.-->
<header>
  <app-main-menu></app-main-menu>
</header>
<!-- <div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleControls" data-slide-to="1"></li>
      <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="w-100 bg-dark" style="min-height: 300px"></div>
      </div>
      <div class="carousel-item">
        <div class="w-100 bg-dark" style="min-height: 300px"></div>
      </div>
      <div class="carousel-item">
        <div class="w-100 bg-dark" style="min-height: 300px"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->


<div class="container">
  <div class="row m-1">
    <div class="col-3">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
      <main>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/download1.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
